.DisplayField {
  position: relative;


  .fade {
    position: absolute;
    width: 100%;
    min-height: 60vh;
    left: 0;
    top: 0;
    background-image: linear-gradient(0deg, transparent, black 90%);
    z-index: 1;
  }
}

.cardContainer {
  height: 100%;
  width: 100%;
  overflow: scroll;
}