.Crawl {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.fade {
  position: absolute;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 90%);
  z-index: 1;
}

.Crawl--container {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  font-size: 300%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: center;
}

.Crawl--content {
  position: relative;
  top: 999px;
  transform-origin: 20% 100%;
  animation: crawl 20s linear;
  height: 2000px;
}

@keyframes crawl {
	0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
	100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}